.back1{
    background-image: url("..//image/dcl-650-Bx5-8M-y0sI-unsplash\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1510px;
    height:1380px;
    padding-left: 80px;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue3;
}
.Outer1{
    color: black;
}
.card_cntr1{
        display: flex;
        flex-wrap: wrap; /* to allow wrapping on small screens */
        gap: 20px; /* spacing between cards */
        justify-content: center; 
        padding: 20px;

}

